.form-control.form-control-solid {
background-color: #f7333093;
color: #fff !important;
}

.form-control.form-control-solid:focus{

    background-color: #f73330d2;
    color: #fff !important;
}

.btn.btn-secondary{
    background-color: #f7333093;
}

.btn.btn-secondary:hover{
    background-color: #f73330d2 !important;
}

a.text-primary:focus, a.text-primary:hover{
    color: #f73330d2 !important;
 }
 a.text-primary{
    color: #f73330d2 !important;
 }

 .btn.btn-dark {
    color: #fff;
    background-color: #f73330d2;
  }